.impressed {
    padding: 60px 0 100px 0;
    background: url("/images/hat.jpg") no-repeat;
    background-size: cover;
    .container {
        display: flex;
        justify-content: space-between;
        color: #b2b3b3;
    }
    .impressed__text {
        width: 54%;
        text-align: left;
        h2 {
            font-family: "Source Sans Pro";
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 60px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            margin-bottom: 34px;
        }
        .autor {
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .director {
            text-transform: uppercase;
            span {
                @include olive;
            }
        }
    }
    .impressed__image {
        transition: all 0.5s ease-in-out;
        img {
        margin-top: -20%;
        }
    }
    
    .impressed__image:hover {
        transform: scale(1.2); 
        transition: all 0.5s ease-in-out;
    }
}
